html, body {
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: grey;
}

canvas {
    position: absolute;
    width: 48%;
    height: 96%;
    top: 2%;
    z-index: 0;
    border: 0;
    padding: 0;
    margin: 0;
}

#left {
    left: 1%;
}

#right {
    right: 1%;
}