html, body {
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: grey;
}

canvas {
    position: absolute;
    width: 48%;
    height: 96%;
    top: 2%;
    z-index: 0;
    border: 0;
    padding: 0;
    margin: 0;
}

#left {
    left: 1%;
}

#right {
    right: 1%;
}

#flags {
    position: absolute;
    display: block;
    background: green;
    left: 51%;
    top: 2%;
    padding: 0em 0.1em 0.5em 0.75em;
    z-index: 100;
}

#flags h1 {
    font-size: 1.25em;
    position: relative;
    left: -1em;
    padding: 0.2em 0em 0.2em 0.75em;
    margin: 0;
}

.item {
    display: block;
}